<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.wit.archaeologicalfieldwork">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <application
    android:name=".main.MainApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.Launcher"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".views.startup.StartUpView">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".activities.HomeView"/>
    <activity android:name=".activities.hillfort.HillfortListView"/>
    <activity
      android:name=".activities.hillfort.HillfortView"
      android:parentActivityName=".activities.hillfort.HillfortListView" />
    <activity
      android:name=".views.user.profile.ProfileActivity"/>
    <activity
      android:name=".views.user.settings.SettingsView"/>
    <activity
      android:name=".activities.hillfort.HillFortProfileActivity"
      android:parentActivityName=".activities.hillfort.HillfortListView" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_key" />

    <activity
      android:name=".activities.maps.MapsActivity"
      android:label="@string/title_activity_maps" />

  </application>

</manifest>